.expertise-detail-box
  .main-expertise-box
    margin-bottom .80rem
    .left-box
      width 3.25rem
      padding .10rem .40rem .67rem .15rem
      background rgba(255,255,255,1)
      border .02rem solid rgba(235,235,235,1)
      h2
        font-size .18rem
        font-family SourceHanSansCN-Regular
        font-weight 400
        color rgba(63,81,181,1)
        padding .20rem 0 .20rem .25rem
      img
        vertical-align middle
        width .15rem
        height .15rem
      .ivu-menu-vertical
        z-index 1
        .ivu-menu-submenu-title-icon
          transform translateY(-50%) rotate(-90deg)
          right .04rem
        .ivu-menu-submenu-title:hover
          color #ffffff
          background #3F51B5
        .ivu-menu-submenu-title
          background #EBEBEB
          margin-bottom .05rem
        .ivu-menu-opened>*>.ivu-menu-submenu-title-icon
          transform translateY(-50%) rotate(360deg)
        .ivu-menu-item:hover, .ivu-menu-item-active:not(.ivu-menu-submenu)
          color #3F51B5
        .ivu-menu-item
          padding .09rem .24rem
        .ivu-menu-item-active:not(.ivu-menu-submenu):after, .ivu-menu-item-active:not(.ivu-menu-submenu)
          background none
      .ivu-menu-vertical.ivu-menu-light:after
          background none
      .related-personnel
        margin-bottom .20rem
        cursor pointer
        .lawyer-avatar
          height .80rem
          width .80rem
          img
            width 100%
            height 100%
            border-radius .80rem
        div
          display inline-block
          vertical-align middle
        div:nth-child(2)
          margin-left .20rem
          p
            font-size .18rem
            color rgba(17,17,17,1)
            margin-bottom .10rem
          span
            font-size .16rem
      .about-news
        font-size .16rem
        li
          cursor pointer
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          list-style disc
          .circle
            width .05rem
            height .05rem
            background rgba(17,17,17,1)
            border-radius 50%
            display: inline-block
            vertical-align middle
        li:hover
          color rgba(63,81,181,1)

    .right-box
      width 8.55rem
      border .02rem solid rgba(235,235,235,1)
      vertical-align top
      margin-left .15rem
      padding .17rem .39rem
      .main-txt
        margin-top .2rem
        font-size .16rem
      .no-msg
        text-align center
        margin-bottom .25rem
        img
          width 1.25rem
          height 1.25rem
        p
          color rgba(221,221,221,1)
          font-size 24px
