
page
    height 100%
    box-sizing border-box
/* page .wx-swiper-dot {
  background: #fff;
}

page .wx-swiper-dot-active {
  background: rgba(37, 161, 197, 1);
} */
.full-box
    display block
    width 100%
    height 100%
.container
    height 100%
    display flex
    flex-direction column
    align-items center
    justify-content space-between
    padding 200px 0
    box-sizing border-box
.contain
    padding-bottom 1px
    box-sizing border-box
.showtoast
    padding 20px 0
    text-align center
    font-size 24px
    color #999
.showtoast image
    vertical-align middle
    width 40px
    height 40px
    margin-right 20px
.normal
    display flex
    flex-direction column
    align-items center
    width 100%
    font-size 28px
    color #ddd
    padding-top 150px
.normal image
    width 144px
    height 140px
    display inline-block
    margin-bottom 24px
.image
    display block
    width 100%
    height 100%
    max-width 100%
image
    max-width 100%
.flex-mid
    display flex
    align-items center
.flex-between
    display flex
    align-items center
    justify-content space-between
.flex-center
    display flex
    align-items center
    justify-content center
.hover-btn
    opacity 0.8
.hover-btn1
    color rgba(255, 255, 255, 0.3)
.hover-add
    background #f97f30 !important
.line1
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
.line2
    overflow hidden
    text-overflow ellipsis
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical
